* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background-color: #F5F7FB;
  background-image: url(./img/top-blob.png), url(./img/bottom-blob.png);
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  color: #293264;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  height: 100%;
}

main h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.intro-container {
  text-align: center;
}

.btn-primary {
  background-color: #4D5B9E;
  color: #F5F7FB;
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.1rem;
}

.btn-primary:disabled {
  opacity: 0.5;
  cursor: default;
}

.btn-large {
  padding: 15px 50px;
  font-size: 1.2rem;
}

.question-container {
  padding: 5px 0;
  border-bottom: 1px solid #DBDEF0;
  max-width: 700px;
}

.question-container h3 {
  margin-bottom: 10px;
}

.option-button {
  padding: 2px 10px;
  border-radius: 7px;
  background-color: #F5F7FB;
  border: 1px solid #4D5B9E;
  color: #293264;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.btn-reset {
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  body {
    height: auto;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
}